<div class="row" style="text-align: center;">
    <div class="col-12"></div>
    <div class="col text-center fs-3" style="background-color: #fd536d;font-size: 20pt;line-height: 1.5em;padding-top: 40px;padding-bottom: 40px;">Materiales<br>Total:&nbsp;{{totalMateriales}}</div>
    <div class="col text-center fs-3" style="background-color: #53fd56;font-size: 20pt;line-height: 1.5em;padding-top: 40px;padding-bottom: 40px;">Pruebas<br>Total:&nbsp;{{totalPruebas}}</div>
    <div class="col text-center fs-3" style="background-color: #5370fd;font-size: 20pt;line-height: 1.5em;padding-top: 40px;padding-bottom: 40px;">Total coste<br>Coste:&nbsp;{{costeTotal}}</div>
</div>

<div style="margin-top: 30px;height:500px;">
    <canvas #doughnutCanvas style="height:10vh; width:20vw" style="margin-left: 30%;"></canvas>
</div>
